version: "1"
packages:
  - name: {{.PackageName}}
    emit_json_tags: true
    emit_prepared_queries: false
    emit_interface: true
    path: {{.PackagePath}}
    queries: "./temp/query/"
    schema: "./temp/fullschema/"
    sql_package: {{.SqlPackage}}
